<!-- 20250604 안녕하세요제가월요일수업을쉬고다시나왔습니다만수업이너무어렵네요 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <div th:replace = "~{   경로  ::goToHome}"></div> -->
    <div th:replace="~{fragments/gohome::goToHome}"></div>
    <h1>인사말:<span th:text="${hello}"></span></h1>
    <h2>이름:<span th:text="${name}"></span></h2>
    <h3>나이:<span th:text="${age}"></span></h3>
</body>

</html>